python-dotenv==1.2.1
google-genai==1.63.0
langchain-google-genai==4.2.0
langchain-ollama==1.0.1
langchain-chroma==1.1.0
langchain-core==1.2.11
langchain-community==0.4.1
langchain-text-splitters==1.1.0
langchain-classic==1.0.1
streamlit==1.54.0